@keyframes slide-in-bottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide-out-bottom {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

.slide-in-bottom {
    animation: slide-in-bottom 0.3s ease-out;
}

.slide-out-bottom {
    animation: slide-out-bottom 0.3s ease-out;
}